html,
body {
	background: #000;
	overflow: hidden;
}

h2 {
	color: #fff;
	z-index: 1;
}

.container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .ring {
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 4px solid transparent;
	border-top: 4px solid  #fff;
	animation: animate 4s linear infinite;
	box-shadow: 
        inset 0px -11px 8px -10px #fff,
        inset 0px -11px 8px -10px #CCC;
}

@keyframes animate {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.container .ring::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 35px;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: #fff;
	/* box-shadow: 0 0 0 5px #fff,
	0 0 0 10px #fff,
	0 0 0 20px #fff,
	0 0 20px #fff,
	0 0 50px #fff; */
}

.container .ring:nth-child(2) {
	animation-delay: -2.7s;
}

.container .ring:nth-child(3) {
	animation-delay: -1.4s;
}


/* ---------- STARS BACKGROUND ---------- */
.stars {
	position: absolute;
	width: 1px;
	height: 1px;
	background: white;
	border-radius: 100%;
	animation: blink ease-in-out infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

/* ---------- GALAXY ---------- */
.view {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.plane {
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
}

.plane.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotateX(0deg) rotateZ(-30deg);
	animation: rotate 50s infinite linear;
}

/* Circulo principal de la galaxia */
.plane.main .circle {
	width: 200px;
	height: 200px;
	position: absolute;
	transform-style: preserve-3d;
	border-radius: 100%;
	box-shadow: 0 0 10px #fff, inset 0 0 10px #fff;
}

/* Circulos hijos de la galaxia */
.plane.main .circle:nth-child(1) {
	transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
	transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
	transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
	transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
	transform: rotateZ(360deg) rotateX(63.435deg);
}

@keyframes rotate {
	0% {
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}